Repository SSR3-FinalPj/frontend_SOS, pull requests merged in 2025-09, with the labels that each got.

#81 feat: YouTube 업로드 기능 구현 및 주요 버그 수정
  src/common/api/api.js
  src/common/ui/PlatformSelector.jsx
  src/common/ui/notification.jsx
  src/common/utils/date-utils.js
  src/containers/VideoStreamTestPanel/index.jsx
  src/features/ai-media-request/logic/use-media-request-form.js
  src/features/ai-media-request/ui/AiMediaRequestModal.jsx
  src/features/content-management/lib/content-launch-utils.jsx
  src/features/content-management/logic/use-content-launch.js
  src/features/content-management/ui/ContentItemCard.jsx
  src/features/content-management/ui/ContentLaunchView.jsx
  src/features/content-modals/logic/use-content-modals.js
  src/features/content-modals/ui/ContentPublishModal.jsx
  src/features/real-time-notifications/logic/notification-store.js
  src/features/reddit-media-request/logic/use-reddit-request-form.js
  src/features/reddit-media-request/ui/RedditRequestForm.jsx
  src/pages/ContentLaunchPage.jsx
Labels: ✨ feat, 🐛 fix, ♻️ refactor

#85 feat, fix: 백엔드 API 연동 기능 추가 및 안정성 개선
  src/common/api/api.js
  src/features/ai-media-request/logic/use-media-request-form.js
  src/features/content-management/logic/use-content-launch.js
  src/features/content-management/ui/ContentLaunchView.jsx
  src/features/real-time-notifications/logic/notification-store.js
  src/features/real-time-notifications/logic/use-sse-connection.js
  src/pages/ContentLaunchPage.jsx
Labels: ✨ feat, 🐛 fix

#89 Refactor: 로고 변경 및 UI 개선
  README.md
  index.html
  package.json
  public/Favicon/favicon.svg
  src/common/constants/legal-texts.js
  src/common/hooks/use-dark-mode.js
  src/common/ui/AppleInput.jsx
  src/common/ui/FloatingNav.jsx
  src/common/ui/VideoAnalysisModal.jsx
  src/common/ui/meaire-logo.jsx
  src/containers/AnalyticsFilterSidebar/index.jsx
  src/containers/Footer/index.jsx
  src/containers/HeroSection/index.jsx
  src/containers/LoginView/index.jsx
  src/containers/ReadySection/index.jsx
  src/containers/Sidebar/index.jsx
  src/containers/VideoStreamTestPanel/index.jsx
  src/features/auth/ui/LoginCard.jsx
  src/pages/ContentLaunchPage.jsx
Labels: ✨ feat, ♻️ refactor, 🎨 style

#97 CICD 추가, 분석탭 및 콘텐츠 목록탭 클릭시 모달 변경
  VERSION
  nginx.conf
  src/common/api/api.js
  src/common/ui/VideoAnalysisModal.jsx
  src/features/content-management/ui/UploadedContentList.jsx
  src/features/content-modals/ui/CommentAnalysisView.jsx
  src/features/content-modals/ui/ContentPreviewModal.jsx
  src/pages/AnalyticsPage.jsx
Labels: ✨ feat, 🐛 fix

#98 Feat: reddit 업로드 관련 api 수정 1차
  src/common/api/api.js
  src/common/ui/PlatformSelector.jsx
  src/features/ai-media-request/logic/use-media-request-form.js
  src/features/ai-media-request/ui/AiMediaRequestModal.jsx
  src/features/content-management/logic/use-content-launch.js
  src/features/content-management/ui/ContentLaunchView.jsx
  src/features/content-modals/logic/use-content-modals.js
  src/features/content-modals/ui/ContentPublishModal.jsx
Labels: ✨ feat, ♻️ refactor

#101 fix: 비교 분석 페이지 mock 데이터로 임시 수정
  src/common/api/api.js
  src/common/utils/comparison-mock-data.js
  src/containers/IntegratedAnalyticsView/index.jsx
Labels: ♻️ refactor, 🎨 style

#102 feat: Reddit 플랫폼 통합 및 통합 분석 시스템 구현 v0.6.1
  App.jsx
  README.md
  VERSION
  src/common/api/api.js
  src/common/ui/AudienceDemographicsChart.jsx
  src/common/ui/PlatformSelector.jsx
  src/common/ui/VideoAnalysisModal.jsx
  src/common/utils/comparison-mock-data.js
  src/common/utils/transformDemographics.js
  src/containers/AnalyticsFilterSidebar/index.jsx
  src/containers/AnalyticsView/index.jsx
  src/containers/AudienceDemoContainer/index.jsx
  src/containers/IntegratedAnalyticsView/index.jsx
  src/domain/analytics/logic/store.js
  src/domain/platform/logic/store.js
  src/domain/platform/logic/use-platform-initializer.js
  src/features/ai-media-request/logic/use-media-request-form.js
  src/features/ai-media-request/ui/AiMediaRequestModal.jsx
  src/features/content-management/logic/use-content-launch.js
  src/features/content-management/ui/ContentLaunchView.jsx
  src/features/content-management/ui/UploadedContentList.jsx
  src/features/content-modals/logic/use-content-modals.js
  src/features/content-modals/ui/CommentAnalysisView.jsx
  src/features/content-modals/ui/ContentListView.jsx
  src/features/content-modals/ui/ContentPreviewModal.jsx
  src/features/content-modals/ui/ContentPublishModal.jsx
  src/features/platform-search/ui/PlatformSearchCard.jsx
  src/features/platform-search/ui/PlatformSearchModal.jsx
  src/features/search-modal/ui/SearchModal.jsx
  src/pages/AnalyticsPage.jsx
Labels: ✨ feat, 🐛 fix, ♻️ refactor

#108 v1.0.9 / feat: 분석 페이지 UI/UX 개선 및 콘텐츠 생성 로직 최적화
  VERSION
  nginx.conf
  src/common/api/api.js
  src/common/ui/AudienceDemographicsChart.jsx
  src/common/ui/TestControlPanel.jsx
  src/common/ui/TrafficSourceChart.jsx
  src/common/ui/glass-card.jsx
  src/common/utils/test-data-generator.js
  src/common/utils/test-scenarios.js
  src/containers/AnalyticsFilterSidebar/index.jsx
  src/containers/AnalyticsView/index.jsx
  src/features/ai-media-request/logic/use-media-request-form.js
  src/features/analytics/ui/PerformanceHighlight.jsx
  src/features/content-management/ui/ContentFolderCard.jsx
  src/features/content-management/ui/ContentItemCard.jsx
  src/features/content-management/ui/ContentLaunchView.jsx
  src/features/content-management/ui/UploadedContentList.jsx
  src/features/content-modals/ui/ContentListView.jsx
  src/features/content-modals/ui/ContentPreviewModal.jsx
  src/features/content-modals/ui/ContentPublishModal.jsx
  src/features/content-modals/ui/GeneratedVideoPreviewModal.jsx
  src/features/reddit-media-request/logic/use-reddit-request-form.js
  src/features/video-edit/logic/use-video-edit.js
  src/features/video-edit/ui/VideoEditModal.jsx
Labels: ✨ feat, 🐛 fix, ♻️ refactor, 🎨 style

#113 Fix/Feat : 중복된 코드와 잔여 ui 오류 수정
  src/containers/AnalyticsView/index.jsx
  src/containers/DashboardHeader/index.jsx
  src/domain/analytics/logic/store.js
  src/domain/dashboard/logic/dashboard-utils.js
  src/features/analytics/ui/PerformanceHighlight.jsx
  src/features/content-management/ui/UploadedContentList.jsx
  src/pages/AnalyticsPage.jsx
Labels: 🐛 fix

#114 🚀 Feat & Fixes: UI 개선 및 기능 추가
  .gitignore
  App.jsx
  VIDEO_TEST_GUIDE.md
  package-lock.json
  package.json
  src/Router.jsx
  src/common/api/api.js
  src/common/api/test-api.js
  src/common/api/token.js
  src/common/api/video-api-wrapper.js
  src/common/hooks/use-dark-mode.js
  src/common/lib/auth-bootstrap.js
  src/common/stores/consent-store.js
  src/common/stores/media-request-store.js
  src/common/stores/page-store.js
  src/common/ui/CookieConsentBanner.jsx
  src/common/ui/PlatformSelector.jsx
  src/common/ui/SSEProvider.jsx
  src/common/ui/TestControlPanel.jsx
  src/common/ui/natural-prompt-input.jsx
  src/common/ui/notification.jsx
  src/common/utils/test-helpers.js
  src/common/utils/test-scenarios.js
  src/common/utils/tree-utils.js
  src/common/utils/unique-id.js
  src/common/utils/video-url-utils.js
  src/containers/ConnectionManagementCard/index.jsx
  src/containers/DataExportCard/index.jsx
  src/containers/EnhancedPlatformCard/index.jsx
  src/containers/NoconnectView/index.jsx
  src/containers/ProjectHistoryContainer/index.jsx
  src/domain/dashboard/logic/dashboard-utils.js
  src/domain/tree/logic/normalize-results-tree.js
  src/features/ai-media-request/logic/use-media-request-form.js
  src/features/ai-media-request/ui/AiMediaRequestModal.jsx
  src/features/content-management/logic/use-content-launch.js
  src/features/content-management/ui/ContentItemCard.jsx
  src/features/content-management/ui/ContentLaunchView.jsx
  src/features/content-modals/logic/use-content-modals.js
  src/features/content-tree/logic/tree-utils.js
  src/features/content-tree/logic/use-panel-state.js
  src/features/content-tree/ui/CompactVersionCard.jsx
  src/features/content-tree/ui/ContentTreeView.jsx
  src/features/content-tree/ui/NavigationHeader.jsx
  src/features/content-tree/ui/VersionsBadgeWithPreview.jsx
  src/features/real-time-notifications/logic/notification-store.js
  src/features/real-time-notifications/logic/use-sse-connection.js
  src/features/version-navigation/logic/use-version-navigation.js
  src/features/version-navigation/ui/BreadcrumbNavigation.jsx
  src/features/version-navigation/ui/SingleVideoViewer.jsx
  src/features/version-navigation/ui/VersionNavigationSystem.jsx
  src/features/video-edit/logic/use-video-edit.js
  src/pages/TreeTestPage.jsx
  vite.config.js
Labels: ✨ feat, 🐛 fix, ♻️ refactor

#120 Feat & Fixes: 게시 모달 및 테스트 기능 개선
  src/Router.jsx
  src/common/api/test-api.js
  src/common/api/video-api-wrapper.js
  src/common/ui/TestControlPanel.jsx
  src/common/utils/test-data-generator.js
  src/common/utils/test-helpers.js
  src/common/utils/test-scenarios.js
  src/containers/ProjectHistoryContainer/index.jsx
  src/domain/tree/logic/normalize-results-tree.js
  src/features/ai-media-request/logic/use-media-request-form.js
  src/features/ai-media-request/ui/AiMediaRequestModal.jsx
  src/features/content-management/logic/use-content-launch.js
  src/features/content-management/ui/ContentFolderCard.jsx
  src/features/content-management/ui/ContentItemCard.jsx
  src/features/content-management/ui/ContentLaunchView.jsx
  src/features/content-modals/ui/ContentPublishModal.jsx
  src/features/version-navigation/ui/SingleVideoViewer.jsx
  src/features/version-navigation/ui/VersionNavigationSystem.jsx
  src/pages/TreeTestPage.jsx
Labels: ✨ feat, 🐛 fix

#123 feat: 대시보드 UX/UI 개편 및 사용자 편의 기능 추가
  App.jsx
  src/common/ui/AudienceDemographicsChart.jsx
  src/common/ui/TrafficSourceChart.jsx
  src/common/ui/VideoAnalysisModal.jsx
  src/common/ui/button.jsx
  src/common/ui/glass-card.jsx
  src/common/ui/notification.jsx
  src/common/ui/tooltip.jsx
  src/common/utils/csv.js
  src/common/utils/zip.js
  src/containers/AnalyticsFilterSidebar/index.jsx
  src/containers/AnalyticsView/index.jsx
  src/containers/DashboardHeader/index.jsx
  src/containers/DataExportCard/index.jsx
  src/containers/IntegratedAnalyticsView/index.jsx
  src/containers/ProjectHistoryContainer/index.jsx
  src/containers/ReadabilityPreferencesCard/index.jsx
  src/containers/SettingsView/index.jsx
  src/containers/Sidebar/index.jsx
  src/domain/dashboard/logic/dashboard-utils.js
  src/features/ai-media-request/ui/AiMediaRequestModal.jsx
  src/features/analytics/ui/PerformanceHighlight.jsx
  src/features/content-modals/ui/ContentPreviewModal.jsx
  src/features/content-modals/ui/GeneratedVideoPreviewModal.jsx
  tailwind.config.js
Labels: ✨ feat, 🐛 fix, ♻️ refactor

#131 refact: 트리 데이터에 따라 contentItenCard 최신화 로직 수정
  App.jsx
  package-lock.json
  package.json
  src/containers/ProjectHistoryContainer/index.jsx
  src/features/content-management/logic/use-content-launch.js
  src/features/content-management/ui/ContentItemCard.jsx
Labels: ♻️ refactor

#139 styles: 랜딩 페이지 이미지 삭제 및 폰트 수정
  VERSION
  src/common/ui/Section.jsx
  src/containers/AnalyticsView/index.jsx
  src/containers/HeroSection/index.jsx
  src/containers/NoconnectView/index.jsx
  src/styles/globals.css
  tailwind.config.js
Labels: ♻️ refactor, 🎨 style
